<div class="m-5">
  <div class="card-header">Your bookings</div>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <% @bookings.each do |booking| %>
        <li class="list-group-item"><%= booking.pokemon.name %> - <%= link_to booking.date, booking_path(booking) %></li>
      <% end %>
    </ul>
  </div>
</div>
