.booking-card {
  overflow: hidden;
  height: 100px;
  background: #2073C3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
}

.booking-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding-left: 15px;
}

.booking-card h5 {
  padding-left: 30px;
  color: white;
}
