// ["Poison", "Feu", "Vol", "Eau", "Insecte", "Normal", "Électrik", "Sol", "Fée", "Combat", "Psy", "Acier", "Plante", "Roche", "Dragon"]
// ["Glace", "Spectre"]

.poison {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=B97FC9);
}
.feu {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=FD7D24);
}
.vol {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-3&color=3DC7EF);
}
.eau {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-4&color=4592C4);
}
.insecte {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-5&color=729F3F);
}
.normal {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-6&color=ffff43);
}
.electrik {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-7&color=EED535);
}
.sol {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-8&color=A5682A);
}
.fee {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=FDB9E9);
}
.combat {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=ee1515);
}
.psy {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=F366B9);
}
.acier {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-2&color=9EB7B8);
}
.roche {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-3&color=6e6e75);
}
.plante {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-4&color=8BD36A);
}
.dragon {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-5&color=F16E57);
}
.spectre {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-6&color=FFFFFF);
}
.glace {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-7&color=51C4E7);
}
