.team-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.team-card img {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100px;
}

.team-card img:hover {
  background-color: #FACE00;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100px;
}
