<div class="cards">
  <div class="container mt-4 d-flex justify-content-around">
    <div class="row">
      <% @pokemons.each do |pokemon| %>
        <div class="col-md-3">
          <%= render 'shared/card', pokemon: pokemon %>
        </div>
      <% end %>
    </div>
  </div>
</div>
