<div class="container">

    <%= form_with url: pokemons_path, method: :get, class: "d-flex mt-5" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a pokemon by attack points"
      %>
      <%= submit_tag "Find them all", class: "btn btn-info" %>
    <% end %>

<div class="cards">
  <div class="container mt-4 d-flex justify-content-around">
    <div class="row">
      <% @pokemons.each do |pokemon| %>
        <div class="col-md-3">
          <%= render 'shared/card', pokemon: pokemon %>
        </div>
      <% end %>
    </div>
  </div>
</div>
